.wishlist-header {
  margin: 40px 0px;
  font-size: 48px;
}

.wishlist-center {
  display: flex;
  justify-content: center;
  justify-content: center;
}

.wishlist-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  align-items: flex-start;
}