.homepage-header {
  background-color: #0e0e0e;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.header-title {
  display: flex;
  color: #ffffff;
}

.homepage-header .bag-icon {
  margin-top: 10px;
  font-size: 25px;
  margin-right: 5px;
}

.header-search {
  position: relative;
  display: inline-block;
  color: #000000;
}

.homepage-header input {
  height: 30px;
  margin-top: 9px;
  width: 400px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255,255,255,0.8);
  color: #000000;
}

.homepage-header input::placeholder {
  color: #000000;
  padding: 5px 10px;
  padding-left: 30px;
  font-weight: 500;
}

.header-search .search-icon {
  position: absolute;
  bottom: 17px;
  left: 10px;
  font-size: 13px;
  font-weight: bold;
}

.homepage-header .header-icon {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  font-size: 26px;
  margin-right: 30px;
}

.header-icon .wishlist, .header-icon .cart, .header-icon .profile {
  color: #ffffff;
}

.header-icon .cart {
  font-size: 28px;
}

.header-icon .profile {
  font-size: 32px;
}