.profile-nav {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  cursor: pointer;
}

.profile-nav .profile-active {
  font-weight: bold;
}