.profile-nav {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.profile-nav .profile-active {
  font-weight: bold;
}