.cart-header {
  margin: 40px 0px;
  font-size: 48px;
}

.cart-contain {
  display: flex;
  margin: 0 70px;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.cart-contain .cart-detail {
  flex: 2;
  /* border: 1px solid red; */
  margin: 0 40px;
}

.cart-contain .cart-total {
  flex: 0.8;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 0 30px;
  max-width: 350px;
  margin: 0 40px;
}

.cart-detail .cart-heading {
  display: flex;
  font-size: 20px;
  margin-bottom: 50px;
}

.cart-heading .product {
  flex: 2;
  align-self: flex-start;
  justify-content: center;
  text-align: left;
  padding-left: 10px;
}

.cart-heading .quantity, .cart-heading .price {
  flex: 1;
}

.cart-total .cart-coupon {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.cart-coupon .cart-tag {
  display: flex;
}

.cart-tag .tag-icon {
  font-size: 16px;
  margin-top: 5px;
}

.cart-coupon .cart-tag div {
  margin-left: 5px;
}

.cart-tag .btn-apply {
  border: 1px solid black;
  background-color: #f0f0f0;
  cursor: pointer;
}

.cart-tag .btn-apply:hover {
  background-color: #f0f0f061;
}

.cart-total .cart-price {
  margin: 20px 0px;
  font-weight: bold;
}

.cart-description .desc {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.total-amount {
  font-weight: bold;
}

.cart-total .save {
  color: #1cb01c;
  margin-bottom: 20px;
  font-size: 18px;
}

.cart-total .cart-btn {
  margin-bottom: 30px;
  padding: 4px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #1c1c1e;
  color: #ffffff; 
  font-family: "Poppins";
  font-weight: 500;
  line-height: 22px;
  outline: none;
  cursor: pointer;
}

.cart-total .cart-btn:hover {
  background-color: #49494e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}