.summary .success {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: #65c3a1;
}

.summary .summary-details {
  display: inline-block;
  text-align: left;
  max-width: 31.25rem;
}

.summary-details div {
  margin-bottom: 5px;
}

.summary .summary-details .order-desc {
  color: #696969;
}

.summary .summary-details .order-title {
  font-weight: bold;
  color: black;
}

.summary-details .order-id {
  font-size: 1.125rem;
}

.summary-details .address {
  display: flex;
}

.address .delivery {
  font-weight: bold;
}

.summary-details .address-detail {
  text-align: center;
  flex: 1;
  color: #696969;
}

.order-card {
  max-width: 25rem;
  margin: auto;
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}

.order-card .order-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-detail .order-top {
  color: #000000;
}

.order-detail .order-middle, .order-detail .order-bottom {
  color: #808080;
  font-size: 0.875rem;
}